<a href="https://colab.research.google.com/github/poolaNaveen/Banking-Industry-Analysis/blob/main/Indexing_and_Slicing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Q3.1: Extract the first row of banking_data
import pandas as pd

# Sample data
banking_data = pd.DataFrame({
    "CustomerID": [101, 102, 103],
    "Name": ["Alice", "Bob", "Charlie"],
    "Balance": [5000, 12000, 7000]
})

# Get first row
print(banking_data.iloc[0])

CustomerID      101
Name          Alice
Balance        5000
Name: 0, dtype: object

In [4]:
#Q3.2: Extract the last row of banking_data
import pandas as pd

# Sample data
banking_data = pd.DataFrame({
    "CustomerID": [101, 102, 103],
    "Name": ["Alice", "Bob", "Charlie"],
    "Balance": [5000, 12000, 7000]
})

print("Banking Data:")
print(banking_data)

print("\n--- Last Row ---")

# Method 1: Last row as Series
print(banking_data.iloc[-1])

# Method 2: Last row as DataFrame
print("\n", banking_data.tail(1))

Banking Data:
   CustomerID     Name  Balance
0         101    Alice     5000
1         102      Bob    12000
2         103  Charlie     7000

--- Last Row ---
CustomerID        103
Name          Charlie
Balance          7000
Name: 2, dtype: object

    CustomerID     Name  Balance
2         103  Charlie     7000

In [5]:
#Q3.3: Extract the Account_Balance column (column index 1)
import pandas as pd

# Sample banking data
banking_data = pd.DataFrame({
    "CustomerID": [101, 102, 103],
    "Account_Balance": [5000, 12000, 7000],
    "Name": ["Alice", "Bob", "Charlie"]
})

print("Banking Data:")
print(banking_data)

print("\n--- Extract Account_Balance Column ---")

# Method 1: Using column name
print(banking_data["Account_Balance"])

# Method 2: Using column index (1)
print("\n", banking_data.iloc[:, 1])

Banking Data:
   CustomerID  Account_Balance     Name
0         101             5000    Alice
1         102            12000      Bob
2         103             7000  Charlie

--- Extract Account_Balance Column ---
0     5000
1    12000
2     7000
Name: Account_Balance, dtype: int64

 0     5000
1    12000
2     7000
Name: Account_Balance, dtype: int64

In [6]:
#Q3.4: Extract the first 4 rows and first 3 columns
import pandas as pd

# Sample banking data
banking_data = pd.DataFrame({
    "CustomerID": [101, 102, 103, 104, 105],
    "Account_Balance": [5000, 12000, 7000, 15000, 9000],
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva"],
    "Account_Type": ["Savings", "Current", "Savings", "Current", "Savings"]
})

print("Banking Data:")
print(banking_data)

print("\n--- First 4 Rows and First 3 Columns ---")
result = banking_data.iloc[0:4, 0:3]
print(result)

Banking Data:
   CustomerID  Account_Balance     Name Account_Type
0         101             5000    Alice      Savings
1         102            12000      Bob      Current
2         103             7000  Charlie      Savings
3         104            15000    David      Current
4         105             9000      Eva      Savings

--- First 4 Rows and First 3 Columns ---
   CustomerID  Account_Balance     Name
0         101             5000    Alice
1         102            12000      Bob
2         103             7000  Charlie
3         104            15000    David

In [7]:
#Q3.5: Extract rows 3 to 7 (inclusive)
import pandas as pd

# Sample banking data
banking_data = pd.DataFrame({
    "CustomerID": [101, 102, 103, 104, 105, 106, 107, 108],
    "Account_Balance": [5000, 12000, 7000, 15000, 9000, 11000, 13000, 8000],
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva", "Frank", "Grace", "Helen"],
    "Account_Type": ["Savings", "Current", "Savings", "Current", "Savings", "Current", "Savings", "Current"]
})

print("Banking Data:")
print(banking_data)

print("\n--- Rows 3 to 7 (inclusive) ---")
result = banking_data.iloc[3:8]
print(result)

Banking Data:
   CustomerID  Account_Balance     Name Account_Type
0         101             5000    Alice      Savings
1         102            12000      Bob      Current
2         103             7000  Charlie      Savings
3         104            15000    David      Current
4         105             9000      Eva      Savings
5         106            11000    Frank      Current
6         107            13000    Grace      Savings
7         108             8000    Helen      Current

--- Rows 3 to 7 (inclusive) ---
   CustomerID  Account_Balance   Name Account_Type
3         104            15000  David      Current
4         105             9000    Eva      Savings
5         106            11000  Frank      Current
6         107            13000  Grace      Savings
7         108             8000  Helen      Current